.footer {
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: #333333;
    color: white;
    position: absolute;
    bottom: 0;
    width:100%;
    box-sizing: border-box;
}